 body{
          background-color: black;
          background-image: url(images/newoldfilm.jpg);
          background-size:cover;
          background-repeat: no-repeat;
          background-attachment:local;
          background-position: center;

        }
img {
          display: block;
          border-radius: 8px;
          margin-left: auto;
          margin-right: auto;
          width: 95%;
          height: 95%;
        }
h1{
          border-style: double;
          text-align: center;
          font-family: 'Aladin', cursive;
          font-size: 275%;
          border-color: darkgrey;
          color: darkgrey;
        }
h3{
        text-align: center;
        font-family: 'Merienda One', cursive;
        font-size: 85%;
        margin-top: -25px;
        color: darkgrey;
      }
h2 {
  color: darkgrey;
}
.credits{
        font-style: italic;
        font-weight: regular;
        font-size: 120%;
        margin-top: -20px;
        margin-left: 5px;
        color: darkgrey;
}
a {   color: darkgrey;

}
/* visited link */
a:visited {
            color: red;
}
div {
  background-color: black;
  
}
