 body{
          background-color: black;
          background-image: url(images/redtree.png);
          background-size:cover;
          background-repeat: no-repeat;
          background-attachment:local;
          background-position: center;

        }
img {
          display: block;
          border-style: double;
          border-width: thick;
          margin-left: auto;
          margin-right: auto;
          max-width: 95%;
          max-height: 95%;
          width: 600px;
          height: 375px;
          object-fit: cover;
        }
h1{
          border-style: double;
          border-width: thick;
          text-align: center;
          font-family: 'Aladin', cursive;
          font-size: 275%;
          border-color: black;
          color: black;
          margin-top: 8px;
        }
h3{
        text-align: center;
        font-family: 'Merienda One', cursive;
        font-size: 80%;
        margin-top: -25px;
        color: black;
      }
h2 {
    background-color: black;
  color: darkgrey;
}
.credits{
        font-style: italic;
        font-weight: regular;
        font-size: 120%;
        margin-top: -25px;
        margin-left: 0px;
        padding: 5px;
        padding-bottom: 20px;
        padding-left: 12px;
        margin-bottom: 10px;
        color: darkgrey;
        opacity: 100%;
        background-color: black;
}
a {   color: darkgrey;
  opacity: 100%;
  font-size: 20px;

}
/* visited link */
a:visited {
            color: red;
}
p.l{
    padding: -5px -5px -5px -5px;
    margin-left: 400px;
    margin-top: -52px;
    margin-right: 50%;
}
p.youtube{
      text-align: center;
      color: darkgrey;

}
/*visited link*/
p.youtbe:visited{
  color:red;
}
